.error-area{
    font-family:  arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #e24a4a;
    background-color:  #e24a4a;
    color:white;
    border-radius:5px;
}

.error-content{
    color: #0b0c0c;
    padding: 15px;
    background-color: #ffffff;
    border-radius:5px;
}