@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");


h2 {
  font-family: 'Salsa', sans-serif;
}

#root {
  background-color:#ffffff;
}

.homepage {
  display: contents;
  justify-content: center;
  align-items: center;
  
}
.home-area{
    font-family:  arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #a472c7;
    background-color: #a472c7;
    color:white;
    border-radius:5px;

    
}

.home-content {
  color: #0b0c0c;
  padding: 15px;
  background-color: #ffffff;
}


.search-button{
    height: 50px;
    color: white;
    font-size: 1.1em;
    font-weight: 200;
    box-shadow: 0 2px 0;
    width: fit-content; 
    border: 1px solid transparent; 
    box-sizing: border-box; 
    border-radius:5px;
  
}

.search-button {
    background-color: rgb(130,174,138);
    box-shadow: 0 2px 0 rgb(92,136,103);
    border-radius:5px;
}

.search-button:hover {
  box-shadow: 0 1px 0 rgb(92, 136, 103);
  background-color: rgb(115, 154, 122);
}

.search-bar{
    margin: 8px;
    height: 50px;
    color: black;
    font-size: 1.1em;
    font-weight: 200;
    box-shadow: 2px 2px 2px 1px;
    margin-bottom: 30px;
    width: 60%; 
    padding: 10px; 
    border: 1px rgb(19, 14, 14); 
    box-sizing: border-box; 
    background-color: #c8d8ed;
    transition: 0.4s ease-in-out;
    border-radius:5px;
}

.search-bar:focus {
  width: 70%;
}
  
.concert-block{
    margin: 2px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 200;
    
    margin-bottom: 7px;
    width: 130px; 
    padding: 10px; 
  
    box-sizing: border-box; 
    background-color: hsl(44, 78%, 62%);
    
    border-radius:5px;
}

.concert-block:hover{
    box-shadow: 0 1px 0 #737612;
    background-color: hsl(44, 62%, 36%);
}

.concert-list {
  margin: 0;
  display: flex;
  justify-content: center;
}

.concert-grid ul{


display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 10px; 
padding: 0;
list-style-type: none; 
justify-content: center; 

  
  

}
.concert-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.concert-grid ul img {
  width: 8rem;
  height: 5rem;
  margin-bottom: 2px;
}

.concert-grid ul li {
  display: grid;
  border: 2px solid rgb(231, 222, 92);
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(236, 233, 200);
}
